<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing EPayments">
	<test name="Login">
		<classes>
			<class name="framework.test.Login" />
		</classes>
	</test> <!-- Test -->
	<test name="Wrong Username">
		<classes>
			<class name="framework.test.WrongUsername" />
		</classes>
	</test>
	<test name="Test Extra pages">
		<classes>
			<class name="framework.test.TestLinks" />
		</classes>
	</test>
	<test name="Create New Business User Password Do Not Match">
		<classes>
			<class
				name="framework.test.CreateNewUserTestPasswordDoNotMatch" />

		</classes>
	</test>
	<test name="Create New Business User Happy Path">
		<classes>
			<class name="framework.test.CreateNewUserTestHappyPath" />

		</classes>
	</test>

	<test name="Personal Account Validation">
		<classes>
			<class
				name="framework.test.CreateNewUserTestPersonalAccountLink" />
		</classes>
	</test>

	<test name="Forgot Password Validation">
		<classes>
			<class name="framework.test.PasswordResetValidate" />
		</classes>
	</test>

</suite> 